@model Clinica_Medic.Models.SignosVitales

@{
    ViewData["Title"] = "Paciente";
}



<div>
    <h4>Signos Vitales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar </a> 
    <a class="btn btn-outline-primary" asp-action="Index">Regresar</a>
</div>
