@model Clinica_Medic.Models.Historial

@{
    ViewData["Title"] = "Delete";
}


<div>
    <h4>Historial Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sintomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sintomas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrucciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Examen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Examen)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-outline-primary" asp-action="Index">Regresar</a>
    </form>
</div>
