@model IEnumerable<Clinica_Medic.Models.Historial>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Crear Nuevo Historial</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrucciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrucciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Examen)
            </td>
            <td>
               
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
